// настройки
$font-family: Arial, sans-serif;

$main-font-color: #7a93a8;
$main-font-weight: 300;
$main-font-size: 10px;
$content-font-color: #dadcdd;
$content-font-weight: 300;
$content-font-size: 12px;

$separator-color: #2d3942;

$start-bg-color: #192229;
$end-bg-color: #182025;

$second-bg-color: #1c242c;

$negative-indicator-bg-color: #d94953;

$indicator-start-bg-color: #242e36;
$indicator-height: $content-font-size;
$positive-indicator-start-bg-color: #329c60;
$positive-indicator-end-bg-color: #4cc882;

$th-top-padding: 37px;
$th-bottom-padding: 26px;

$first-tr-top-padding: 33px;
$first-td-left-padding: 30px;
$last-td-left-padding: 30px;

$td-horizontal-padding: 15px;
$td-vertical-padding: 15px;

$beetwen-indicators-horizontal-padding: 7px;