@import "../common/mixins";
@import "../common/settings";

$height: $indicator-height;

.scale {
  position: relative;
  width: 100%;
  height: $height;
  overflow: hidden;
  background-color: $indicator-start-bg-color;
  border-radius: $height/2;

  .fill {
    position: relative;
    width: 100%;
    height: 100%;
    @include linear-horizontal-gradient($positive-indicator-start-bg-color, $positive-indicator-end-bg-color);
    border-radius: $height/2;
  }

  &.negative .fill {
    background: $negative-indicator-bg-color;
  }
}